*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN */
.main-container{
    width: 700px;
    height: 800px;
    margin-left: 250px;
    margin-right: 250px;
    overflow: hidden;
}


li :before {
    content: \2713;
}


.add-container{
    width: 700px;
    height: 70px;
    background-color: #fff;
    display: inline-block;
    line-height: 70px;
    padding-left: 70px;
    border-bottom: 2px solid #f7f7f7;
}

button{
    border: 0;
}

.add-task {
    font-size: 15px;
    background-color: rgb(60, 124, 243);
    border: 1 px solid;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.add-section{
    font-size: 15px;
    background-color: #fff;
    border:  1px solid #8b8282;
    border-radius: 5px;
    padding: 5px;
    color: #8b8282;
}

/* seconda parte main */
.list-container
{
    width: 700px;
    height: 100%;
    padding-left: 80px;
    line-height: 30px;
    background-color: #fff;
    
}

ul{
    list-style-type:none;
    
}

h3{
    background-color: #fff;
}
li {
    background-color: #fff;
}

.rettangolino{
    font-size: 15px;    
    border: 1 px solid;
    border-radius: 10px;
    padding: 7px;
    color: white;
}

.rettangolino.verde{
    background-color: chartreuse;
}

.rettangolino.blu{
    background-color: rgb(60, 124, 243);
}

.rettangolino.arancione{
    background-color: rgb(240, 81, 8);
}

.rettangolino.viola{
    background-color: rgb(139, 76, 190);   
}




.checked:before {
    content: '\2713';
    color: #2cc6ab;
}

.deleted:before {
    content: '\2573';
    color: #ff0000;
    border-color: #ff0000;
}
/* HEADER */

header {
    background-color: white;
    padding: 15px 30px;
    margin-bottom: 50px;
}
header img{
    vertical-align: middle;
}
.logo-text {
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
}

/* // HEADER */